.card-episode {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  position: sticky;
}



.select-episode{
  width: 150px;
  margin: 20px;
}